absl-py==2.4.0
astunparse==1.6.3
black==26.5.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
coverage==7.14.2
filelock==3.25.2
flatbuffers==25.12.19
fsspec==2026.6.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.81.1
h5py==3.14.0
idna==3.18
iniconfig==2.3.0
Jinja2==3.1.6
keras==3.13.2
libclang==18.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.6.1
numpy==2.4.6
onnx==1.22.0
onnx-ir==0.2.1
onnxscript==0.7.0
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pathspec==1.0.4
platformdirs==4.10.0
pluggy==1.6.0
protobuf==7.35.1
Pygments==2.20.0
pyrefly==1.1.1
pytest==9.1.0
pytest-cov==7.1.0
pytokens==0.4.1
requests==2.34.2
rich==14.3.3
ruff==0.15.18
setuptools==81.0.0
six==1.17.0
sympy==1.14.0
tensorflow==2.21.0
termcolor==3.3.0
tf2onnx==1.17.0
torch==2.12.1
typing_extensions==4.15.0
urllib3==2.7.0
wheel==0.47.0
wrapt==2.2.2
